---
import "../../styles/target.css";
---

<section class="content-cards">
  <!-- -----card front------- -->
  <section class="card card-front">
    <div class="info-card-front">
      <div class="logo-card"></div>
      <div class="number-card-front">0000 0000 0000 0000</div>
      <section class="personal-info">
        <div class="nombre">Lorem</div>
        <div class="fecha">00/00</div>
      </section>
    </div>
  </section>
  <!-- -----card back------ -->
  <section class="card card-back">
    <div class="info-card-back">
      <div class="number-CVC">000</div>
    </div>
  </section>
</section>
