.card {
    margin-bottom: 1rem;
    width: 100%;
}

.card-front {
    width: 350px;
}

.card-front .info-card-front {
    
}

.card-front .info-card-front {
    border-radius: 10px;
    padding: 1rem;
    background-image: url(../../public/image/bg-card-front.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.card-front .info-card-front .logo-card {
    background: #fff;
    margin-bottom: 2rem;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}